.box table thead,
.box table tbody tr td,
.mtrip {
  text-align: center;
  vertical-align: middle;
}
/* .mtrip {
  height: 80vh;
  overflow: scroll;
} */
.trows td img {
  border-radius: 10px;
  height: 0.7in;
  width: 0.7in;
}
