name: Build and Deploy to Minikube

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-deploy:
    runs-on: self-hosted

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Configure Docker for Minikube
      run: eval $(minikube docker-env)

    - name: Build frontend image
      run: |
        docker build -t <faaaroooqi>/frontend:latest ./musafir-mahal-frontend

    - name: Build backend image
      run: |
        docker build -t <faaaroooqi>/backend:latest ./musafir-mahal-backend

    - name: Push images to Docker Hub
      run: |
        echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
        docker push <faaaroooqi>/frontend:latest
        docker push <faaaroooqi>/backend:latest

    - name: Deploy to Minikube
      run: |
        kubectl apply -f ./deployment.yaml
        kubectl apply -f ./service.yaml
       